<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700839847193-a3vnlq872e8cc8iichbmllfm19l2ok05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700839847193-a3vnlq872e8cc8iichbmllfm19l2ok05</string>
	<key>API_KEY</key>
	<string>AIzaSyCtGlwU-cLuB1DL3eP9M41NtIjgtZgTfqc</string>
	<key>GCM_SENDER_ID</key>
	<string>700839847193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beap.exerciseSWU2</string>
	<key>PROJECT_ID</key>
	<string>exerciswu</string>
	<key>STORAGE_BUCKET</key>
	<string>exerciswu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700839847193:ios:b3f0b148525650fbf25188</string>
</dict>
</plist>